@mixin navbar($background-color, $color-dark) {
    nav.navbar{
        background-color:#dfdf3f;
        text-align: right;
        border-bottom: 1px solid #293133; 
        height: 70px; 

        .btn-primary{
            background-color:#818108 !important;
            border: $background-color !important;

            &:hover,
            &:focus,
            &:active{
                box-shadow: none !important; 
                background-color:#6b6b0b !important;
            }
        }

        ul.navbar-nav{
            padding-right: 0;
            li {
                a.nav-link {
                    color: #383625;
                    font-size: 20px;
                    line-height: 40px;
                    padding-right: 1.25rem;
                    padding-left: 1.25rem;
                    -webkit-transition: all 0.5s ease;
                    transition: all 0.5s ease;
    
                    &:hover,
                    &.active{
                        color: rgb(255, 255, 255);
                        background-color:#acac42; 
                        transition: all 0.3s;
                    }
                }
            } 
        }
    } 
    
    nav.navbar .navbar-brand img {
        width: 100px;
        height: 65px;
        margin-right: 10px;
    }
}

@mixin navbar2 ($background-color, $color-dark) {
    nav.navbar{
        background-color:#fa9f55;
        text-align: right;
        border-bottom: 1px solid #293133; 
        height: 70px; 

        .btn-primary{
            background-color:#ff7300 !important;
            border: $background-color !important;

            &:hover,
            &:focus,
            &:active{
                box-shadow: none !important; 
                background-color:#cf640c!important;
            }
        }

        ul.navbar-nav{
            padding-right: 0;
            li {
                a.nav-link {
                    color: #383625;
                    font-size: 20px;
                    line-height: 40px;
                    padding-right: 1.25rem;
                    padding-left: 1.25rem;
                    -webkit-transition: all 0.5s ease;
                    transition: all 0.5s ease;
    
                    &:hover,
                    &.active{
                        color: rgb(255, 255, 255);
                        background-color:#fa8628; 
                        transition: all 0.3s;
                    }
                }
            } 
        }

    } 
    
    nav.navbar .navbar-brand img {
        width: 100px;
        height: 65px;
        margin-right: 10px;
    }
}

@mixin body($background-color, $color-dark) {
    position: relative;
    margin: 20px 90px 30px;
    background: $background-color;
    height: 500px;
    border-top-left-radius:40%;
    border-bottom-right-radius:40%;


    p{
        color: #2d2e05;
        margin: 50px 150px ;
        font-size: 25px;
    }
    h2{
        padding-top: 50px;
        color: #080808; 

        &::before{
            content: "";
            position: absolute;
            right:31%;
            bottom: 79%;
            width: 450px;
            height: 2px;
            background-color: $color-dark;
        }
    }
}


@mixin carosele ($color-dark) {
    padding: 50px 0 50px;
    .title {
        margin-bottom: 60px;
        color: #080808;

        h3 {
            font-size: 36px;
        }
    }

    .carousel-inner {
        width: 50%;
        height: 400px;
        margin: 0 auto;
    }

    .carousel-indicators {
        padding: 0;
        bottom: -60px;

        li {
            max-width: 15px;
            height: 15px;
            border: 1px solid #afa015;
            border-radius: 50%;

            &.active {
                background-color: $color-dark;
            }
        }
    }

    .carousel-control-next,
    .carousel-control-prev {
    width: 70px;
    height: 70px;
    border: 1px solid #afa015;
    border-radius: 50%;
    color: $color-dark;
    opacity: 1;
    margin-top: 130px;
}
}



@mixin Communication ( $background-color, $color-dark ){

    margin: 70px 0;
    margin-right: 30px;
    background-color:#bdbdbd;
    width:95%;
    height:700px;
    border-top-left-radius:20%;
    border-top-right-radius:20%;
    border-bottom-right-radius:20%;
    border-bottom-left-radius:20%;
    margin-bottom: 10px;

    .contact-info {
        padding: 50px;

        .form form {
            button {
                font-size: 18px;
                color: #ffffff;
                line-height: 25px;
                background-color: $color-dark;
                padding: 7px 50px;
                border: 2px solid #817a2f;
                border-radius: 3px;
                margin-right: 15px;

                &:hover{
                    background-color:#acac10 ;
                    color: #080808;
                    border: 2px solid #acac10;
                }
            }
            .form-group {
                position: relative;
                input,textarea {
                    border: 2px solid #bdbdbd;
                    border-radius: 3px;
                    font-size: 18px;
                    color: #c2c2c2; 
                    line-height: 35px;
                    padding-right: 45px;
                    text-align: right;
                }
                &:before {
                    position: absolute;
                    top: 8px;
                    right: 30px;
                    font-size: 18px;
                    line-height: 25px;
                    color: #080808;
                    display: inline-block;
                }
                &:first-of-type:before {
                    content: "\f007";
                }
                &:nth-of-type(2):before {
                    content: "\f0e0";
                }
            }
        }

        .title h3 {
            font-size: 40px;
            color: #181c1c;
            margin-bottom: 50px;
            line-height: 50px;
        }

        ul.contact-us{
                li {
                    font-size: 20px;
                    line-height: 30px;
                    color: #080808;
                }
            } 
        ul.social{
            li  {
                background-color: $color-dark;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                transition: all 0.3s ease;
                margin-right: 9px;
            }
        } 
        
    }
    .info {
        h3 {
            font-size: 24px;
            line-height: 50px;
            color: #181c1c;
            font-weight: bold; 
        
        }
        ul {
            padding: 0; 

            li {
                font-size: 18px;
                line-height: 25px;
                color: #080808;
                margin-bottom: 15px; 

                i {
                    margin-left: 10px; 
                }
            }
        }
    }
}

@mixin Communication2 ( $background-color, $color-dark ){

    margin: 70px 0;
    margin-right: 30px;
    background-color:#bdbdbd;
    width:95%;
    height:700px;
    border-top-left-radius:20%;
    border-top-right-radius:20%;
    border-bottom-right-radius:20%;
    border-bottom-left-radius:20%;
    margin-bottom: 10px;

    .contact-info {
        padding: 50px;

        .form form {
            button {
                font-size: 18px;
                color: #ffffff;
                line-height: 25px;
                background-color: #ffab67;
                padding: 7px 50px;
                border: 2px solid $color-dark;
                border-radius: 3px;
                margin-right: 15px;

                &:hover{
                    background-color:$color-dark ;
                    color: #080808;
                    border: 2px solid $color-dark;
                }
            }
            .form-group {
                position: relative;
                input,textarea {
                    border: 2px solid #bdbdbd;
                    border-radius: 3px;
                    font-size: 18px;
                    color: #c2c2c2; 
                    line-height: 35px;
                    padding-right: 45px;
                    text-align: right;
                }
                &:before {
                    position: absolute;
                    top: 8px;
                    right: 30px;
                    font-size: 18px;
                    line-height: 25px;
                    color: #080808;
                    display: inline-block;
                }
                &:first-of-type:before {
                    content: "\f007";
                }
                &:nth-of-type(2):before {
                    content: "\f0e0";
                }
            }
        }

        .title h3 {
            font-size: 40px;
            color: #181c1c;
            margin-bottom: 50px;
            line-height: 50px;
        }

        ul.contact-us{
                li {
                    font-size: 20px;
                    line-height: 30px;
                    color: #080808;
                }
            } 
        ul.social{
            li  {
                background-color: #ffab67;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                transition: all 0.3s ease;
                margin-right: 9px;
            }
        } 
        
    }
    .info {
        h3 {
            font-size: 24px;
            line-height: 50px;
            color: #181c1c;
            font-weight: bold; 
        
        }
        ul {
            padding: 0; 

            li {
                font-size: 18px;
                line-height: 25px;
                color: #080808;
                margin-bottom: 15px; 

                i {
                    margin-left: 10px; 
                }
            }
        }
    }
}

