
@mixin tour($background-color, $color-dark) {
    .btn-primary{
        background-color:$color-dark !important;
        border: $background-color !important;
    }
    section.tour1-body,.tour2-body{
        h2{
            &::before{
                background-color: $color-dark;
            }
        }
    }
    .carousel-indicators {
        li {
            &.active {
                background-color: $color-dark;
            }
        }
    }
    .form form {
        button {
            background-color: $background-color !important;
            border: 2px solid $color-dark !important;
            &:hover{
                background-color:$color-dark !important;
                
            }
        }
    }
    ul.social{
        li  {
            background-color: $color-dark;
        }
    } 
    .carousel-control-next,
    .carousel-control-prev {
        color: $color-dark;
    } 
}
