@import './_variables.scss';
@import './mixins.scss';



header.tour1-top{
    @include navbar ($backrond-tour1 , $color-dark);
}

.modal .modal-header #a{
    &:hover {
    color: #818108 !important;

}
}
.row1 {
    .modal form{
        input{
            text-align: right;
        }
    }
    .modal-body{
        input{
            &:hover,
            &:focus,
            &:active{
                box-shadow: none  ; 
                border-color: rgb(170, 157, 43) !important;
            }
        }
    }
    .modal-footer{
        a{
            color: #a5a53d !important;
            &:hover {
                text-decoration: none !important;
            }
        }
        button{
            background-color:#818108 ;
            border: #f0f086 !important;

            &:hover{
                background-color:#6b6b0b !important;
            }
        }
      
    }
}

nav.navbar button.navbar-toggler span #a{
    color: black !important;
}




section.tour1-body {
  @include body ($backrond-tour1 , $color-dark)
}

section.slider {
  @include carosele( $color-dark)
}

section.tour1 {
    @include Communication ($backrond-tour1 , $color-dark)
}

footer.tour1{
    .copyright {
        background-color: #acac10; 
        width: 100% ;
        
        p {
            font-size: 15px;
            line-height: 60px;
            color: #eceff5;
            margin-bottom: 0px;
            
        } 
    } 
} 
@media (max-width: 767px){
    section.tour1 {
        border-bottom-right-radius:0%;
        border-bottom-left-radius:0%;
        margin-right: 10px; 
       
    }
    section.tour1 .overlay .contact-info ul.contact-us li{
        margin-top: 10px !important;
    }
}
@media (max-width: 991px){
    section.tour1{
        height: 750px !important;
    }
    section.slider{
        .carousel-indicators{
            bottom: -40px !important;
        }
        .carousel-inner {
            width: 70% !important;
            height: 400px;
            margin: 0 auto;
        }
    }
    header.tour1-top{
        ul.navbar-nav{
             li {
                a.nav-link {
                    color: #beae1b !important;

                    &:hover{
                        color: #e9e5c0 !important;
                    }
                }
            }
        }
    }
}
@media (max-width: 767px){
    section.tour1{
        height: 1020px !important;
    } 
    section.tour1-body{
        height: 450px !important;
        p{
            margin: 10px;
        }
        h2{
            &::before{
                right:20% !important;
                width: 400px !important;
            }
        }
    }
    section.slider{
        .carousel-indicators{
            bottom: -40px !important;
        }
        .carousel-control-next,
        .carousel-control-prev {
            width: 50px !important;
            height: 50px !important;
            margin-top: 130px;
        }
        .carousel-inner {
            width: 70% !important;
            height: 300px !important;
            margin: 0 auto;
        }
    }
}

@media (max-width: 1200px){
    section.tour1-body{
        margin: 10px 30px 10px;
        height: 500px;
        border-top-left-radius:20%;
        border-bottom-right-radius:20%;

        p{
            margin: 30px 50px ;
            font-size: 25px;
        }
        h2{
            &::before{
                right:25%;
                width: 420px;
            }
        }
    }
    section.slider{
        .carousel-indicators{
            bottom: -50px !important;
        }
        .carousel-inner {
            width: 60% !important;
            height: 400px;
            margin: 0 auto;
        }
    }
}
@media (max-width: 871px){
    section.tour1-body{
        margin: 10px 20px 30px !important;
        height: 400px;
        border-top-left-radius:20%;
        border-bottom-right-radius:20%;

        p{
            margin: 30px 30px 10px;
            font-size: 20px;
        }
        h2{
            &::before{
                right:25%;
                width: 420px;
                bottom: 74%;
            }
        }
    }
    section.slider{
        .carousel-indicators{
            bottom: -20px !important;
        }
    }

}
@media (max-width: 590px){
    section.tour1-body{
        height: 560px !important;
    }
    section.tour1-body{
        h2{
            font-size: 32px !important;
            &::before{
                right:10% !important;
                width: 370px !important;
                bottom: 81% !important;
            }
        }
    } 
    section.slider{
        .carousel-control-next,
        .carousel-control-prev {
            margin-top: 90px !important;
        }
        .carousel-indicators{
            bottom: -40px !important;
        }
        .carousel-inner {
            width: 70% !important;
            height: 250px !important;
            margin: 0 auto;
        }
    }
}




 






